* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}
body,

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.header {
    width: 25rem;
    background-color: #3b9c5b;
    padding: 3rem 10rem;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 1px #aaa;
}

hr {
    width: 80%;
    color: #ddd;
}

.alert {
    background-color: #ff1265;
    color: white;
    padding: 0.5rem 3rem;
}

.green-header__text {
    color: #3b9c5b;
}

.field {
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 25rem;
    margin-top: 2rem;
    padding: 3rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 1px #aaa;
}

.field span {
    background-color: #3b9c5b;
    padding: 1rem 5rem;
    margin-top: 1rem;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 3px 10px 1px #aaa;
}

input {
    width: 15rem;
    height: 2rem;
}

hr {
    width: 100%;
}